@import url(/web-dev-project/view/css/base.css);

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-title {
  margin: 2rem 0;
  text-align: center;
}

#registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 90%;
  max-width: 22rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-requirement {
  font-weight: normal;
  font-style: italic;
}

.submit {
  margin: .5rem 0;
  padding: .3rem .5rem;
}